<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Une erreur sur l'Oetherium est survenue : {{ status_text }}</title>
    <meta name="description" content="Vous êtes vraiment intéressé par une page d'erreur? x)">
</head>
<body>
    <h1>Oh! Vous ne devriez pas être ici! (erreur {{ status_code }})</h1>
    <p>
        Retournez vite sur le site petit chenapan :<br>
        <li><a href="{{ path('apa_generalPage_homepage') }}" title="L'Oetherium">Oetherium</a></li>
    </p>
</body>
</html>