img.admin-preview {
    max-height: 200px;
    max-width: 200px;
}
#navigation {
    margin-top: 8%;
    text-align: center;
}

#navigation ul {
    padding: 0;
}

#navigation ul li {
    margin-top: 3%;
    padding: 2%;
}

#navigation ul li:hover {
    background-color: black;
}
.menuLink {
    font-weight: bold;
}
.menuLink:hover {
    text-decoration: underline;
}