#descriptionMenu {
    color: #f8e8c0;
    margin: 5% 7% 0 7%;
}

/* Menu vertical */
#navigation ul.firstUl {
    margin-top: 7%;
    padding: 0;
    list-style-type : none;
}

#navigation ul li {
    width : 222px;
    margin-left : auto;
    margin-right : auto;
}

/* Blocs - Textes */
#navigation ul li a {
    display: block;
    background-position: center;
    height: 49px;
    width: auto;
    line-height: 223%;
    margin-bottom: 3%;
    font-size: 1.75em;
    font-family: Georgia, "Arial", "Trebuchet MS", serif;
    color: #5c4f37; 
    text-decoration: none;
    text-indent: 0.6em;   
}

/* Bloc visible du sous menu */
#navigation ul a.imgMenu2 {
    margin-bottom: 0;
}

/* Bloc après le bloc visible du sous menu */
#navigation ul a.imgMenu3 {
    margin-top: 3%;
}

/* Images  */
#navigation .imgMenu {
    background-image: url('../img/nav-close.png');
    background-repeat: no-repeat;
}
#navigation .imgMenu:hover {
    background-image: url('../img/nav-open.png');
    background-repeat: no-repeat;
}
#navigation .imgMenuCurrent {
    background-image: url('../img/nav-open.png');
    background-repeat: no-repeat;
}
#navigation .imgSubMenu {
    background-image: url('../img/sub-nav.png');
    background-repeat: no-repeat;
}
#navigation .imgSubMenuCurrent {
    background-image: url('../img/sub-nav.png');
    background-repeat: no-repeat;
}

/* SOUS MENU */
/* Cache le sous menu */
#navigation ul li ul {
    list-style-type : none;
    padding: 0;
    max-height: 0em;
    overflow: hidden;
    transition: 1s max-height 0.1s;
}

/* Affiche le sous menu */
#navigation ul li:hover ul {
    display: block;
    position: relative;
    max-height: 13em;
}

/* Blocs */
#navigation ul.firstUl li ul li {
    display: block;
    background-position: center;
    height: 38px;
    width: auto;
    margin-bottom: 2%;
}
/* FIN SOUS MENU */

/* RESOLUTION */
@media screen and (max-width:1047px) {
    /* Le menu ne conserve pas les images fixes */
    #navigation .imgMenu {
        background-image: none;
        background-color: #f6e5bc;
        border: double 3px #40382b;
    }
    #navigation .imgMenu:hover {
        background-image: none;
        background-color: #fff1d3;
        border: double 3px #40382b;
    }
    #navigation .imgMenuCurrent {
        background-image: none;
        background-color: #fff1d3;
        border: double 3px #40382b;
    }
    #navigation .imgSubMenu {
        background-image: none;
        background-color: #f6e5bc;
        border: double 3px #40382b;
    }
    #navigation .imgSubMenu:hover {
        background-image: none;
        background-color: #fff1d3;
        border: double 3px #40382b;
    }
    #navigation .imgSubMenuCurrent {
        background-image: none;
        background-color: #fff1d3;
        border: double 3px #40382b;
    }
    
    /* Largeur menu */
    #navigation ul.firstUl li {      
        width : 80%;
    }
    #navigation ul li a {
        height: auto;
        line-height: 1.5em;
    }
}

@media screen and (max-width:844px) {
    /* Largeur menu */
    #navigation ul.firstUl li {      
        width : 30%;
    }
    
    /* Enlève les espaces en trop du sous menu */
    #navigation ul.firstUl li ul li {
        height: auto;
        margin: 0;
    }
    #navigation ul.firstUl li ul li a.imgSubMenu {
        height: auto;
        margin: 0;
    }
}
/* FIN RESOLUTION */